@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Merriweather Sans";
  src: url("../public/fonts/Merriweather_Sans.ttf");
}

@font-face {
  font-family: "Merriweather Serif";
  src: url("../public/fonts/Merriweather_Serif.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}